.buscar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.buscar label{

    font-size: 20px;
    color:brown;
}
.buscar input{
    font-size: 20px;
}
.buscar p{
    color: red;
}
.boton{
    border-radius: 10px;  
    color: brown;  
    background-color:bisque;
    font-size: 20px;
   
}
.buscar button:hover{
    color: blue;
    cursor:pointer
}

