
.nav{
display: flex;
flex-direction: row;
justify-content:space-around;
align-items: center;
flex-wrap: wrap;
margin-right: 10px;
margin-top: 30px;
border: 5px solid burlywood;
border-radius: 15px;

}
.nav p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav a{
    font-size: 20px;
    text-decoration: none;
}
.nav a:hover{
    color: blue;
    text-decoration: underline;
    font-size: 25px;
}