.ordenar{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap
}
.ordenar p{
    font-size: 20px;
    color:brown;
}
.ordenar select{
    font-size: 20px;
}
