
.tarjeta div{
    
}
.tarjeta div:hover{
    background-color:bisque;
    color:green

}
.recipe{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 5px solid burlywood ;
    margin-bottom: 30px;
    height: 500px;
    width: 400px;
    border-radius: 50px; 
}
.recipe p{
    font-size: 20px;
}
